@import "./companent.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0px auto;
}

header {
  padding: 20px 0px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-hamburger {
    display: none;
  }

  nav {
    margin-right: 50px;
  }

  ul {
    display: flex;
    column-gap: 38px;
  }

  li {
    list-style-type: none;
  }
}

main {
  background: #f3f2e5;
}

#banner {
  .banner-container {
    padding: 70px 0px;
  }

  .banner-text {
    margin: 0px auto;
    width: 60%;
    text-align: center;

    h1 {
      font-size: 64px;
    }

    p {
      font-size: 23px;
      margin-top: 20px;
    }

    button {
      margin-top: 50px;
      padding: 12px 24px;
      border: 4px solid black;
      border-radius: 23px;
      font-weight: 700;
      cursor: pointer;
      background-color: white;
    }

    a {
      display: block;
      margin-top: 20px;
      text-decoration: underline;
      color: #83a1d1;

      .drop {
        margin-left: 10px;
      }
    }
  }
}

#portfolio {
  padding: 20px 0px;

  .portfolio-container {
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    padding: 40px 0px;
  }

  .grid-item {
    position: relative;
  }
  img {
    width: 260px;
    height: 167px;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
  }

  .port-btn {
    padding: 10px 40px;
    text-align: center;
    background-color: white;
    border-radius: 23px;
  }
}

#tariff {
  padding: 70px 0px;

  .tariff-container {
  }

  .tariff-top {
    width: 55%;
    text-align: center;
    margin: 0px auto;
  }

  .tariff-top {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
      margin-top: 25px;
    }
  }

  .tarrif-bottom {
    text-align: center;

    .tarrif-btn {
      border: 3px solid black;
      padding: 7px 15px;
      background-color: #fff;
      border-radius: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 30px;
    padding: 40px 0px;
  }

  .grid-item {
    background: linear-gradient(#e25544, #620c90);
    text-align: center;
    // padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: 8px solid white;

    h5 {
      font-size: 20px;
      margin-bottom: 30px;
    }

    span {
      font-size: 24px;
    }

    p {
      font-size: 15px;
    }

    button {
      display: inline-block;
      padding: 5px 50px;
      margin-top: 40%;
      border-radius: 10px;
      border: none;
    }
  }

  .grid-item:nth-child(2) {
    background: linear-gradient(#172368, #e249af);
  }

  .grid-item:nth-child(3) {
    background: linear-gradient(#fedc2a, #dd5789, #7a2c9e);
  }

  .grid-item:nth-child(4) {
    background: linear-gradient(#a632b0, #faa681);
  }
}

#contact {
  padding: 70px 0px;
  .contact-container {
    h2 {
      text-align: center;
      font-size: 40px;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    padding: 40px 0px;
  }

  .grid-item {
    width: 410px;
    h4 {
      font-size: 18px;
    }
    a {
      text-decoration: underline;
    }
  }

  .grid-item:nth-child(2) {
    width: 320px;
  }

  iframe {
    padding: 20px 0px;
    width: 100%;
    height: 384px;
  }
}

footer {
  padding: 40px 0px;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .footer-list {
    display: flex;
    column-gap: 40px;

    li {
      list-style-type: none;
    }
    a {
      color: black;
    }
  }

  .footer-icon {
    display: flex;
    column-gap: 20px;

    i {
      font-size: 25px;
    }
  }
}
